@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E0BBE4;  /* Color de inicio del degradado */
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, #E0BBE4, #FEC8D8, #FFDFD3); /* Fondo degradado */
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  min-height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
  margin: 0; /* Elimina márgenes no deseados */
  background-size: cover; /* Evita que el fondo se repita */
  background-attachment: fixed; /* Fondo fijo al hacer scroll */
}
